.rt-home .form-label {
    font-size: 18px;
    font-weight: 500;
  }
  .bg-form{
    background-color: #75c3ff21;
  }

/* .article-title{
    background-color: #75c3ff24;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
    color: black;
    font-size: 24px;
    font-weight: 700;
    margin: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
} */

.add-company {
  display: inline!important;
}
.bold-label {
 font-weight: 700;
}