.reset-password-page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 100vh;
}

.reset-password-container {
  background-color: #f9f9f9;
  padding: 40px 20px;
  max-width: 500px;
  width: 100%;
  border-radius: 10px;
}
