.editor-container {
  position: relative;
  height: 70vh;
}
.editor-container .editor-sidebar {
  background: #f8f8f8;
  min-width: 424px;
  padding: 20px;
  overflow-y: scroll;
}
.editor-container .editor-sidebar .navLinks h1 {
  display: none;
}
.editor-container .editor-sidebar .navLinks .editor-option-buttons div {
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
}
.editor-container .editor-sidebar .navLinks .editor-option-buttons button {
  background: #1b1b1b;
  height: 48px;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  border: none;
}
.editor-container .editor-sidebar .navLinks .pre-made-background {
  text-align: left;
  margin-top: 8px;
}
.editor-container .editor-sidebar .navLinks .pre-made-background span {
  font-weight: 500;
}
.editor-container .editor-sidebar .navLinks .pre-made-background .background-image-selection-grid {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 20px;
  height: 300px;
  overflow-y: auto;
}
.editor-container .editor-sidebar .navLinks .pre-made-background .image-thumbnail-container {
  width: 100%;
  height: 110px;
  background-color: white;
  -o-object-fit: cover;
     object-fit: cover;
  width: 20px !important;
}
.editor-container .editor-sidebar .navLinks .pre-made-background .image-thumbnail-container img {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  width: "100%" !important;
  height: "100%" !important;
}
.editor-container .editor-sidebar .navLinks .background-color {
  text-align: left;
  margin-top: 20px;
}
.editor-container .editor-sidebar .navLinks .background-color .background-color-selection-grid {
  grid-gap: 10px;
  margin-top: 7px;
}
.editor-container .editor-sidebar .navLinks .background-color .background-color-selection-grid .solid-color-thumbnail {
  width: 45px;
  height: 45px;
}
.editor-container .editor-sidebar .navLinks .background-color .background-color-selection-grid .solid-color-thumbnail .solid-color-thumbnail img {
  border-radius: 10px;
  width: 100%;
  height: 100%;
}
.editor-container .editor-sidebar .navLinks button {
  background: #1b1b1b;
  height: 48px;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  width: 100%;
  border: none;
}

.FIE_tabs,
.FIE_topbar-buttons-wrapper,
.FIE_tools-bar-wrapper,
.FIE_topbar {
  display: none !important;
}

.superimpose-editor {
  border: 0;
  display: grid;
  width: 100%;
}

.superimpose-editor > div {
  grid-row-start: 1;
  grid-column-start: 1;
}

.superimpose-editor {
  height: 58vh;
}
.superimpose-editor .hdsmoF {
  padding: 0;
}
.superimpose-editor .hdsmoF .konvajs-content {
  height: 55vh !important;
}

.editorloader {
  height: 100%;
  width: 100%;
  z-index: 100000;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editor-main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 20px);
  margin: 10px auto;
}
.editor-main canvas {
  z-index: 2;
}
.editor-main .edit-wrap {
  width: 100%;
}

.canvas-ratio {
  position: absolute;
  z-index: 1;
  --width-size: 16;
  --height-size: 9;
  --width-ratio:min(100%, calc((var(--height-canvas) / var(--height-size)) * var(--width-size)));
  width: min(100%, var(--height-canvas) / var(--height-size) * var(--width-size));
  padding-bottom: calc(var(--width-ratio) * var(--height-size) / var(--width-size));
  box-shadow: 0 0 9px 0px #888888;
  max-width: var(--width-canvas);
  max-height: var(--height-canvas);
  aspect-ratio: var(--width-size)/var(--height-size);
}

.duzgvS {
  padding: 7px !important;
}

.sc-1tst9ex-0.FIE_annotation-controls-overlay {
  z-index: 10;
}/*# sourceMappingURL=editorStyles.css.map */