.google-login-btn {
  background: #fff;
  color: #1b1b1b;
  font-weight: 500;
  font-size: 18px;
  padding: 11px 0;
  width: 100%;
  border: 1px solid #eeeeee;
  img {
    margin-right: 15px;
  }
}
